@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;

  --body-font: "Rubik", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --shadow: 0px 5px 20 0px rgba(69, 67, 96, 0.1);

  --border-radius: 20px;
}


@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.875rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--border-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  margin-left: 1.5rem;
  font-weight: var(--font-semi-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.section-title::before {
  content: "";
  background: url(./assets/dots-bg.svg);
  position: absolute;
  top: -0.875;
  left: -0.875;
  width: 2.25rem;
  height: 2.25rem;
}

.btn{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: 0.3s;
}




@keyframes buuton-push{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
.btn:hover{
  animation:  buuton-push 0.3s liner 1 ;
  
}
